ul li:nth-child(7) {
    animation-delay: -0.2s;
    background: #673ab7;
    box-shadow: 0 0 50px #673ab7;
  }
  ul li:nth-child(7) {
    animation-delay: -0.2s;
    background: #673ab7;
    box-shadow: 0 0 50px #673ab7;
  }
  